.main-footer {
    padding: 2px;
    margin: 0;
    color: aliceblue;
    background-color: #6ca3de;
    size: 20px;
    display: flex;
    flex-direction: column;
    min-height: 35vh;
}
.col{
    margin: 2rem;
}


