html {
  font-size: 72.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  justify-items: center;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  border-radius: 1rem;
  grid-area: header;
  background-color: #6ca3de;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  block-size: 10rem;
  margin: 0.5rem;
  border-radius: 1rem;
  background-color: #6ca3de;
  color: #ffffff;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
/*nav-text*/
a {
  text-decoration: none;
}
a:hover {
  color: #808080;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input, 
select, 
textarea,
button {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 1rem;
  border: 0.1rem aliceblue solid;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
button {
  background-color: #6ca3de;
  cursor: pointer;
  align-items: center;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem cornflowerblue;
}
button.primary {
  background-color: #848fce;
}

/* Header */
header a {
  color:aliceblue;
  padding: 1rem;
}
a.brand {
  color: aliceblue;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: crimson;
  color: aliceblue;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 0rem;
}
.col-2 {
  flex: 2 1 45rem;
}
.min-30 {
  min-width: 30rem;
}
/* Image */
img {
  border-radius: 3rem;
}
img.small {
  max-width: 6rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
/*Responsive*/
img.larg{
  width: 100%; 
}

/* Card */
.card {
  border: 0.1rem #848fce;
  background-color: rgb(242, 246, 249);
  border-radius: 1.5rem;
  margin: 2rem;
}
.card-body {
  padding: 0.4rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #fbdb3bf0;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/*Alert*/
.success {
  color: rgb(69, 189, 51);
}
.danger {
  color: crimson;
}
.alert {
  padding: 2rem;
  border: 0.1rem;
  border-radius: 0.8rem;
}
.alert.info{
  color: blue;
  background-color: aliceblue;
}
.alert.danger{
  color: crimson;
  background-color: aliceblue;
}
/*PageAccueil*/
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* for responsive*/
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 30rem;
  margin: 1rem;
  height: 40rem;
  border-bottom: .1rem aliceblue;
}
.product-name {
  font-size: 1.5rem;

}
.product-brand {
  font-size: 1rem;
  color: #1f436a;
}
.product-image {
  max-width: 25rem;
  max-height: 25rem;
}
.product-rating {
  margin: 0;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.details-image {
  flex: 2 1.5 50rem;
}
.details-image img{
  max-width: 60rem;
  widows: 100%;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
width: 450px;
margin: auto;
background: aliceblue;
box-shadow: 6px 14px 80px #848fce;
padding: 40px 55px 45px 55px;
border-radius: 15px;
transition: all .3s;
}
.auth-wrapper .form-control:focus{
  border-color: #1f436a;
  box-shadow: none;
}

.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 12px;
  padding-top: 10px;
  color: #6ca3de;
  margin: 0;
}
.forgot-password a {
  color: #6ca3de;
}