html {
  font-size: 72.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  justify-items: center;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  height: 70px;
  grid-area: header;
  background-color: #6ca3de;
}
.burger{
  color: #d9dee3f9;
  background-color: #6ca3de;
  margin: 15px;
  border-radius: 30px;
  padding: 5px;
}
main {
  grid-area: main;
  padding: 1rem;
}
/*footer {
  grid-area: footer;
  block-size: 10rem;
  margin: 0.5rem;
  border-radius: 1rem;
  background-color: #6ca3de;
  color: #ffffff;
}*/
/* Common */
h1 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
/*nav-text*/
a {
  text-decoration: none;
}
a:hover {
  color: #808080;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input, 
select, 
textarea,
button {
  padding: 1rem;
  /*margin: 1rem;*/
  border-radius: 0.5rem;
  border: 0.1rem aliceblue solid;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: aliceblue;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem cornflowerblue solid;
}
button.primary {
  background-color: #848fce;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color:aliceblue;
  padding: 1rem;
}
a.brand {
  color: aliceblue;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: crimson;
  color: aliceblue;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
}
/*aside*/
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: aliceblue;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: aliceblue;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}
/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
/*Responsive*/
img.larg{
  width: 100%; 
}

/* Card */
.card {
  border: 0.1rem #848fce solid;
  background-color: aliceblue;
  border-radius: 0.5rem;
  margin: 2rem;
}
.card-body {
  padding: 2rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #fbdb3bf0;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/*Alert*/
.loading {
  display: block !important;
}
.success {
  color: #41bd41;
}
.danger {
  color: #ba3939;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #ba3939;
  background-color: #ffe0e0;
}
.alert-success {
  color: #41bd41;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 50rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  display: block;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1; /*send to top*/
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}

/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}
.active {
  font-weight: bold;
}
/*PageAccueil*/
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* for responsive*/
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 30rem;
  margin: 1rem;
  height: 40rem;
  border-bottom: .1rem aliceblue;
}
.product-name {
  font-size: 2rem;

}
.product-brand {
  font-size: 1rem;
  color: #1f436a;
}
.product-image {
  max-width: 25rem;
  max-height: 25rem;
}
.product-rating {
  margin: 0;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.details-image {
  flex: 2 1.5 50rem;
}
.details-image img{
  max-width: 60rem;
  widows: 100%;
}

